<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhr.sys">

    <application>
        <activity android:name="com.lhr.sys.SysActivity"
            android:theme="@style/BaseStyle" />
        <provider
            android:name=".ServiceHookContentProvider"
            android:authorities="@{applicationId}.ServiceHookContentProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>