<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhr.common">

    <application>
        <activity android:name=".ui.ReplaceFragmentActivity"
            android:theme="@style/BaseStyle"
            android:screenOrientation="behind"
            android:exported="false"/>
    </application>

</manifest>