<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhr.view">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name="com.lhr.view.ViewActivity"/>
    </application>
</manifest>