<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhr.adb">

    <application>
        <activity android:name="com.lhr.adb.AdbActivity"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan"
            android:label="Adb"/>
    </application>
</manifest>