<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhr.wallpaper">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application>
        <activity android:name="com.lhr.wallpaper.ImageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <service
            android:name="com.lhr.wallpaper.GameWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/game_wallpaper" />
        </service>
    </application>

</manifest>