<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lhr.learn">
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application>

        <activity android:name="com.lhr.learn.LearnActivity"
            android:theme="@style/BaseStyle"
            android:label="Learn"/>

        <activity android:name="com.lhr.learn.applications.UninstallHelper"
            android:theme="@style/TranslucentStyle"
            android:launchMode="singleTask"
            android:screenOrientation="behind"/>
    </application>
</manifest>